:root {
    --industrial-dark: #121212;
    --accent-blue: #0066FF;
    --accent-pink: #FF0055;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--industrial-dark);
}

.fw-black { font-weight: 900; }

/* Hero Effect */
.hero-industrial {
    padding: 120px 0;
    border-bottom: 8px solid var(--industrial-dark);
}

.text-stroke {
    color: white;
    -webkit-text-stroke: 2px var(--industrial-dark);
    /* La traccia non altera la struttura delle lettere N ed E */
    text-shadow: none;
}

/* Navbar NYC Style */
.navbar-brand img {
    filter: grayscale(1);
    transition: 0.3s;
}
.navbar-brand:hover img {
    filter: grayscale(0);
}

.nav-link {
    letter-spacing: 1px;
    color: var(--industrial-dark) !important;
    position: relative;
    padding: 0.5rem 1rem;
}

.nav-link:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 1rem;
    background: var(--industrial-dark);
    transition: 0.3s;
}

.nav-link:hover:after {
    width: calc(100% - 2rem);
}

/* Card Style Industrial */
.service-card {
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 0; /* Angoli vivi per stile industriale */
    padding: 3rem;
    transition: 0.4s;
}

.service-card:hover {
    box-shadow: 20px 20px 0px rgba(0,0,0,0.05);
    transform: translate(-5px, -5px);
}
